/**
************ COMMON STYLINGS ***********
**/

:root{
    --header-background: rgb(97, 97, 97);
    --header-text: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.hidden{
    display: none;
}

.clickable{
    cursor: pointer;
    text-decoration: underline;
}

.icon{
    height: 25px;
    width: 25px;
}

.content{
    width: 100%;
    height: 100%;
}

/**
************ HEADER STYLING ************
**/

header{
    height: max-content;
    padding: 20px;
    background-color: var(--header-background);
    color: var(--header-text);
}

/**
************ HOMEPAGE ************
**/

.search-background{
    height: 100%;
    width: 100%;
    background-image: url("./assets/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5px;
}

.search{
    display: flex;
    flex-direction: column;
    margin: 15vh auto auto auto;
    width: 40%;
    background-color: rgba(201, 201, 201, 0.555);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur( 2px );
    padding: 20px;
    text-align: center;
}

.search h1{
    margin-top: 0px;
    margin-bottom: 5px;
}

.search .form{
    display: flex;
    height: 2rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
    background-color: rgba(243, 243, 243, 0.397);
}

.search input{
    flex-grow: 1;
    background: none;
    border: none;
    font-size: 1rem;
}

.search input[type="text"]:focus{
    border:none;
    outline: none;
}

.search button{
    background: none;
    border: none;
}

/**
************ WEATHER PAGE TOP ************
**/

.search-tabs-container{
    background-image: url("./assets/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.weather-display .search{
    background: none;
    margin-top: 0px
}

.search-tabs-container ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}

.day-tabs-container{
    max-width: 1280px;
    margin: 0px auto 0px auto;
}

.search-tabs-container li{
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 1px solid gray;
    padding: 10px;
}

.search-tabs-container li:first-child{
    border-radius: 8px 0px 0px 0px;
}

.search-tabs-container li:last-child{
    border-radius: 0px 8px 0px 0px;
}

.search-tabs-container .selected{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    padding: 10px;
    border-bottom: none;
}

.search-tabs-container li > div{
    display: flex;
    justify-content: space-between;
}
.search-tabs-container li > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-tabs-container .icon{
    height: 50px;
    width: 50px;
}

.search-tabs-container .maxTemp{
    font-size: 1.5rem;
}

.day-tabs-container .clickable{
    text-decoration: none;
}

/**
************ WEATHER PAGE BOTTOM ************
**/

.weather-data{
    max-width: 1280px;
    margin: 0 auto;
    overflow: scroll;
}

table .icon{
    width: 48px;
    height: 48px;
}

table{
    border-spacing: 0px;
}

thead{
    background-color: rgb(235, 235, 235);
}

td{
    padding-top: 32px;
    text-align: center;
}

td:not(:last-child){
    border-right: 1px solid darkgrey;
}

.time-hours{
    padding: 0px 12px 6px;
}

.temp-row > td{
    position: relative;
    height: 60px;
}

.temp-value{
    position: absolute;
}